<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">DTS</a>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li *ngIf="fname" class="nav-item">
            <a class="nav-link active" href="#">Welcome {{fname}}&nbsp;{{lname}} <span *ngIf="role=='ADMIN'">(admin)</span>
            </a>
          </li>
        </ul>
      </div>
      <button *ngIf="isLoggedIn" (click)="logout()">logout</button>
      
    </div>
</nav>