<app-header></app-header>
<div class="container">
    <div class="row">
        <h4 style="text-align: center;">Your available tests</h4>
        <hr>
    </div>
    <div class="row">
    <div  *ngIf="errorMessage" class="alert alert-dismissible alert-warning">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">{{errorMessage}}</p>
    </div>
    <div *ngFor="let fileItem of fileJson" class="card mt-2 col-md-4">
      <div class="card-body">
        <h4 class="card-title">{{fileItem.testName}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{fileItem.totalMarks}} Marks</h6>
        <p class="card-text">{{fileItem.testDesc}}</p>
        <button class="btn btn-primary m-1" [routerLink]="[ '/questions',fileItem.fileName]">Take Test</button>
      </div>
    </div>
    </div>
</div>