<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 style="text-align:center">{{componentMsg}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                <label class="form-label mt-4" for="exampleTextarea">Input Question</label>
                <textarea #questionArea (focusout)="onFocusOutQuestionArea(questionArea.value)" class="form-control" id="exampleTextarea" rows="3">{{questionJson.question}}</textarea>
            </div>
            <div class="form-group">
                <label class="form-label mt-4" for="exampleTextarea">Options <button [disabled]="optionsJson.length>=4" (click)="onClickAddRow()">add row</button> <span *ngIf="optionsJson.length>=4" style="color:red">(max no. of options added!)</span></label>
                <table class="table table-hover">
                    <tbody>
                      <tr *ngFor="let option of optionsJson; let index = index" class="table-active">
                        <th scope="row">{{option.optionKey}}</th>
                        <td><input #optionInput name="optionInput" class="form-control form-control-sm" type="text" placeholder="Option Text" (focusout)="onFocusOut(index,optionInput.value)" value={{option.optionVal}} id="inputSmall"></td>
                        <td><button *ngIf="index==optionsJson.length-1" type="button" (click)="onClickRemove(index)" class="btn btn-primary btn-sm">remove</button></td>
                      </tr>
                    </tbody>
                </table>
            </div>

 
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label mt-4" for="inputDefault">Marks for this question</label>
                        <input #marksInput name="marksInput" (focusout)="onFocusOutMarks(marksInput.value)" type="text" class="form-control" placeholder="Marks" id="inputDefault">
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label mt-4" for="exampleSelect1">Choose Correct Option</label>
                        <select #optionInput name="optionInput" (focusout)="onCorrectOptionFocusOut(optionInput.value)" class="form-select" id="exampleSelect1">
                            <option value="">Select</option>
                            <option *ngFor="let option of optionsJson">{{option.optionKey}}</option>
                        </select>
                      </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-label mt-4" for="exampleTextarea">Correct Answer explanation</label>
                <textarea #explainInput name="explainInput" (focusout)="onFocusOutExplain(explainInput.value)" class="form-control" id="exampleTextarea" rows="2"></textarea>
            </div>
            <br>
            <button [disabled]="addButtonDisabled" (click)="onClickAddQuestion();questionArea.value='';marksInput.value='';explainInput.value=''" type="submit" class="btn btn-primary">Add</button>&nbsp;<button (click)="onClickReset();questionArea.value='';marksInput.value='';explainInput.value='';downloadFile.value='' " type="submit" class="btn btn-warning">Reset</button>
            &nbsp;<span style="color:red;" *ngIf="errorMessage!=''" span>{{errorMessage}}</span>
            
            
        </div>
        <div class="col-md-7">
            <div class="form-group">
                <label class="form-label mt-4">Question as JSON</label>
                <div class="card bg-light mb-3" style="max-width: 50rem;height:30rem;">
                    <div class="card-body">
                      <pre class="card-text">{{questionJson | json}}</pre>
                    </div>
                  </div>
                  <!--
                <textarea style="font-family: Lucida Console;font-size:small"class="form-control" rows="15">{{questionJson | prettycolorjson:[changedAttribute]}}</textarea>
                -->
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <hr>
                    <div class="col-md-6">
                        <span>Output Text  </span>
                            <button class="btn btn-warning btn-sm m-1" (click)="onClickStartOver();questionArea.value='';marksInput.value='';explainInput.value='';downloadFile.value=''">start over</button>
        
                            <!--<button [disabled]="questionsArray.length==0" class="btn btn-success btn-lg m-1" (click)="onClickSaveFile();questionArea.value='';marksInput.value='';explainInput.value='' ">Save File</button>-->

                    </div>
                    <div class="col-md-6">
                        <div class="input-group mb-3">
                            <input (keyup)="onInputDownloadFileName(downloadFile.value)" #downloadFile name="downloadFile" type="text" class="form-control" placeholder="file name to save the JSON with" aria-label="Save file name" aria-describedby="button-addon2">
                            <button  (click)="onClickSaveFile(downloadFile.value);questionArea.value='';marksInput.value='';explainInput.value='';downloadFile.value='' " [disabled]="questionsArray.length==0 || !downloadFileLengthOkay" class="btn btn-success btn-lg" type="button" id="button-addon2">Download</button>
                          </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <textarea #finaloutput name="finaloutput" (focusin)="finaloutput.select()" style="font-family: Lucida Console;font-size:small"class="form-control" rows="25">{{questionsArray | json}}</textarea>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
